@import url('https://fonts.googleapis.com/css?family=Faster+One&effect=fire-animation');
@import url('https://fonts.googleapis.com/css?family=Faster+One%7CFugaz+One');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:500i');


html {
    font-family: 'Fugaz One', cursive;
    width: 100vw;
    height: 100vh;    

}

.navBar {
    display: flex;
    border: solid 1px black;
    border-radius: 20px;
    text-align: center;
    justify-content: space-around; 
    font-size: 1.5em;
    box-shadow: 1px 1px 8px gray;  
}

.navLinks:hover {
    color:#F9692C;
}

a {
    color: #EC4E20;
}
a, p {
    text-shadow: 1px 1px 8px gray;
}
.flavor {
    text-align: center;
}
h4 {
    font-size: 4em;
    margin-bottom: 10px;
}
.searchCriteria {
    /* border: solid green; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.restriction {
    margin-bottom: 10px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-style: italic;
    font-size: 1.2rem;

}

.recipeContainer p {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-style: italic;
}

.searchInput {
    width: 50%;
    border-radius: 15px;
    height: 25px;
    
}


#searchButton{
    height: 45px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 1px 1px 8px gray;
    margin-bottom: 10px;
    font-size: 1em;
    background-color: #fbfcf6;
    border: solid black 1px;
}

#searchButton:hover {
        background-color: #EC4E20;
        color: white;
}

/* don't touch this, it works, leave it! */
button {
    font-family: 'Fugaz One', cursive;
    margin-top: 20px;
    text-shadow: 1px 1px 8px gray;
    /* border-radius: 15px;
    height: 30px; */
}


.bg {
    background-image: url("guyfieri.jpg");
    background-size: cover;

    width: 100vw;
    height: 100vh;

}

.searchBar {
    background-color:black;
    border: solid purple;
    opacity: .5;

}

a {
    text-decoration: none;
}

.moreInfo {
    z-index: 500;
    position: absolute;
    background-color: #f9f1cf;
    border: solid black;
    top: 50px;
    right: 100px;
    width: 60%;
    border-radius: 1%;
}



.recipeCard {
    border: solid #EC4E20;
    box-shadow: 1px 1px 8px gray; 
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 5%;

}

.heart {
    height: 30px;
    background-color: #fbfcf6;
    border: solid black 1px;
    border-radius: 50%;
}

.makeBig {
    height: 30px;
    background-color: #fbfcf6;
    border: solid black 1px;
    border-radius: 50%;
}

.heart:active {
background-color: #F9692C;
}

.makeBig:active {
    background-color: #F9692C;
}

.recipeContainer {
    height: 500px;
    width: 700px;
    /* border: solid 1px purple; */
    display: flex;
    flex-wrap: wrap;

}

.recipeImage {
    height: 80px;
    width: 80px;
}

.imagebuttonBox {
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    height: 50%;
    justify-content: space-between;
    padding: 10px;
}

.recipeTitle {
    text-align: center;
    height: 50%;
}

.title {
    margin-top: 20px;
    margin-left: 20px;
}

/* Expanded Info Styling!!!! */
.flexCloseButton {
    display: flex;
    /* border: 1px solid blue; */
    justify-content: flex-end;
}

.closeButton {
    float: right;
    height: 30px;
    margin-top: 0;
}

.moreInfoContainer {
    display: flex;
    height: 70%;
}

.moreImage {
    width: 50%;
    margin-bottom: -5px;
}

.expandedTitle {
    margin-top: -5px;
}

.moreRecipeCard {
    margin-left: 15px;
}

.expandedHeart {
    margin-top: 0px;
}

/*  Favorites Pageeeeeeeeeee */
