@import url('https://fonts.googleapis.com/css?family=Faster+One&effect=fire-animation');
@import url('https://fonts.googleapis.com/css?family=Faster+One%7CFugaz+One');


html {
    font-family: 'Fugaz One', cursive;
    width: 100vw;
    height: 100vh;    

}
/* .bg{
    display: flex;
    flex-direction: row; */
/* } */
/* .recipe {
    background-image: url("recipe.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;

} */
.navBar {
    display: flex;
    border: solid black;
    border-radius: 15px;
    text-align: center;
    justify-content: space-around;
    
}
a {
    color: #EC4E20;
}
a, p {
    text-shadow: 1px 1px 8px gray;
}
.flavor {
    text-align: center;
}
h4 {
    font-size: 4em;
    margin-bottom: 10px;
}
.searchCriteria {
    /* border: solid green; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.restriction {
    margin-bottom: 10px;
}

.searchInput {
    width: 50%;
    border-radius: 15px;
    height: 25px;
    
}

button {
    font-family: 'Fugaz One', cursive;
    margin-top: 20px;
    text-shadow: 1px 1px 8px gray;
    /* border-radius: 15px;
    height: 30px; */
}


.bg {
    background-image: url("guyfieri.jpg");
    background-size: cover;

    width: 100vw;
    height: 100vh;

}

.searchBar {
    background-color:black;
    border: solid purple;
    opacity: .5;

}

a {
    text-decoration: none;
}

.moreInfo {
    /* display: fixed; */
    z-index: 500;
    position: absolute;
    background-color: white;
    border: solid blue;
    top: 0;
}



.recipeCard {
    border: solid red;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 5%;

}

.heart {
    height: 30px;
}

.makeBig {
    height: 30px;
}

.heart:focus {
background-color: red;
}

.recipeContainer {
    height: 500px;
    width: 700px;
    border: solid 1px purple;
    display: flex;
    flex-wrap: wrap;

}

.recipeImage {
    height: 80px;
    width: 80px;
}

.imagebuttonBox {
    border: 1px solid blue;
    display: flex;
    align-items: center;
    height: 50%;
    justify-content: space-between;
}

.recipeTitle {
    text-align: center;
    height: 50%;
}

.title {
    margin-top: 20px;
    margin-left: 20px;
}