<!-- <div class="recipe"> -->
    <h4 class="font-effect-fire-animation title">RIGHTEOUS RECIPES</h4>

    <div class="recipeContainer">
    <section class="recipeCard" ng-repeat="items in $ctrl.data.$$state.value.data.hits track by $index">
        <div class="recipeTitle">
            <p>{{items.recipe.label}}</p>
        </div>
        <div class="imagebuttonBox">
            <img class="recipeImage" src={{items.recipe.image}}>
            <button class="heart" ng-click="$ctrl.addFav(items)">DYNAMITE</button>
            <button class="makeBig" ng-click="$ctrl.moreRecipe(items);">+</button>
        </div>
    </section>
    </div>
<!-- </div> -->

    <section class="moreInfo" ng-show="$ctrl.expandRecipe">
        <p>{{$ctrl.expand.recipe.label}}</p>
        <button class="heart" ng-click="$ctrl.addFav(items)">DYNAMITE</button>
        <img src={{$ctrl.expand.recipe.image}}>
        <p>Calories: {{$ctrl.expand.recipe.calories}}</p>
        <p>Preptime: {{$ctrl.expand.totalTime}} minutes</p>
        <p>Serving Size: {{$ctrl.expand.recipe.yield}}</p>
        <p>Health Labels: {{$ctrl.expand.recipe.healthLabels}}</p>
        <p>URL: <a href="{{$ctrl.expand.recipe.url}}">{{$ctrl.expand.recipe.url}}</a></p>
        <button ng-click="$ctrl.hideRecipe()">X</button>
    </section>
