<!-- <div class="recipe"> -->
    <h4 class="font-effect-fire-animation title">RIGHTEOUS RECIPES</h4>

    <div class="recipeContainer">
    <section class="recipeCard" ng-repeat="items in $ctrl.data.$$state.value.data.hits track by $index">
        <div class="recipeTitle">
            <p>{{items.recipe.label}}</p>
        </div>
        <div class="imagebuttonBox">
            <img class="recipeImage" src={{items.recipe.image}}>
            <button class="heart material-icons" ng-click="$ctrl.addFav(items)">favorite_border</button>
            <button class="makeBig material-icons" ng-click="$ctrl.moreRecipe(items);">add</button>
        </div>
    </section>
    </div>
<!-- </div> -->

    <section class="moreInfo" ng-show="$ctrl.expandRecipe">
        <div class="flexCloseButton">
        <button class="closeButton material-icons makeBig" ng-click="$ctrl.hideRecipe()">clear</button>
        </div>
        <div class="moreInfoContainer">
            <div class="moreImage">
                <img src={{$ctrl.expand.recipe.image}}>
            </div>
            <div class="moreRecipeCard">
                <p class="expandedTitle">{{$ctrl.expand.recipe.label}}
                        <button class="heart material-icons expandedHeart" ng-click="$ctrl.addFav($ctrl.expand)">favorite_border</button>
                </p>
                <p>Calories: {{$ctrl.expand.recipe.calories | number:0}}</p>
                <p>Serving Size: {{$ctrl.expand.recipe.yield}}</p>
                <p>Health Labels: {{$ctrl.expand.recipe.healthLabels}}</p>
                <p>URL: <a href="{{$ctrl.expand.recipe.url}}">{{$ctrl.expand.recipe.url}}</a></p>
            </div>
        </div>
    </section>
